<div class="span3">
    {{ render(controller('EcommerceBundle:Basket:menu')) }}

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            {{ render(controller('EcommerceBundle:Category:menuCategories')) }}
        </ul>
    </div>
</div>